<head>
<link href='http://fonts.googleapis.com/css?family=Snippet&effect=3d-float|Julius+Sans+One' rel='stylesheet' type='text/css'>	
</head>


	<br/>
	<br/>
	<div class="banner">
		<h1>National Public Seed Library</h1>
	</div>
	<div class="home_div">
		<div class="left_home">
			<div class="find_libraries font-effect-3d-float">
				<%= link_to 'Find Library', libraries_path, 'data-no-turbolink' => true %>
			</div>
		</div>

		<div class="">
			<div class="find_seeds font-effect-3d-float">
				<%= link_to 'Find Seeds', seeds_path %>
			</div>
		</div>
		<div class="circle_container">
			<div class="circle">
			</div>
		</div>
		</div>


<div class="mission_statement">NPSL is a FREE crowd-sourced organic seed platform created in Santa Monica, California.  We help U.S. seed banks & citizens unlock, organize, analyze, and trade their heritage Non-GMO agricultural treasure.   
<br>
<br>
“In nature's economy the currency is not money, it is life.”
- Vandana Shiva
</div>

