<h1><%= @library.name %></h1>

<% @library.seeds.each do |seed| %>
  <p><%= seed.common_name %></p>
<% end %>

<% if current_user %>
  <%= link_to 'Edit', edit_library_path %>
  <br />
<% end %>

<%= link_to 'Back', libraries_path %>
