<div class="container auths">
    <h1>Log in...</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <%= render partial:'auths/login' %>
            <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>