/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.jcrop
 *= require_tree .
 */

.nav_bar {
  font-family: 'Julius Sans One', sans-serif;
  width: 100%;
  height: 70px;
  background-color: green;
  color: white;
}

.NSL_name {
  padding: 15px;
  font-size: 200%;
  color: white;
  width: 35%;
  height: 10%;
  float: left;

  a {
    width: 35%;
    height: 10%;
    color: white;

    &:hover {
      color: darken(white, 10%);
      text-decoration: none;
    }
  }
}

.right_nav {
  float: right;

  ul {
    list-style-type: none;
  }

  li {
    float: right;
    padding: 25px;
    color: white;
    font-size: 115%;

    a {
      color: white;

      &:hover {
        color: darken(white, 10%);
        text-decoration: none;
      }
    }
  }
}











