@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Snippet);

body
{
background: url('LightGrey-linen.png');
background-size: cover;
}

h1 { 
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;     
  color: white;
  font-size: 110px;
};

h3 {
    margin: 0 auto;
};

.navbar-default .navbar-brand {
    font-family: 'Julius Sans One', sans-serif;
    color: green;
};

.navbar-login{
    float: right;
    font-family: 'Snippet', sans-serif;
};

.banner_title {
  display: block-inline;
  height: 120px;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;     
  color: white;
  font-size: 110px;
  /*border-bottom: 3px solid green;*/
};

.home_div {
    display: inline-block;
    width: 100%;
    font-family: 'Snippet', sans-serif;
};

.left_home {
    text-align: center;
};

.img-responsive {  
  display: block;  
  height: auto;  
  max-width: 100%;  
} 

.circle {
    /*position: relative;*/
    /*clear: all;*/
    margin: 10px auto;
    height: 600px;
    width: 600px;
    bottom: 0;
    padding: 15px;
    font-weight: bold;
    font-size: 32px;
    border: 3px solid green;
    color: hsl(3, 95%, 50%);
    /*background: url('NPSL-Logo.png');*/
    background-position: center;
     -moz-border-radius: 310px;
     -webkit-border-radius: 310px;
     font-family: 'Montserrat Alternates' bold; 
    };

.find_libraries {
    float: left;
    text-align: center;
    margin-left: -25px;
    color: white;
    font-size: 90px; 
    padding: 2.3em;
    width: 400px;
    height: 200px;
    /*background-color: hsla(131, 59%, 35%, 0.95);*/
    /*border: 2px solid red;*/
};

.find_seeds {
    float: right;     
    text-align: left;
    margin-right: 5px;
    color: white;
    font-size: 90px;
    padding-top: 2.3em;
    width: 400px;
    height: 200px;
    /*background-color: hsla(131, 59%, 35%, 0.95);
    border: 2px solid blue;*/
};

.navbar-header {   
    float: right;
    width: 100%;
    color: green;
};