.navbar-login{
    float: right;
    padding-left: 90%;
    /*margin: 0 auto;*/
    font-family: 'Snippet', sans-serif;
};

@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Snippet);

body
{
background: url('LightGrey-linen.png');
background-size: cover;
}

h1 { 
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;     
  color: white;
  font-size: 110px;
};

.navbar-default .navbar-brand {
    font-family: 'Julius Sans One', sans-serif;
    color: green;
    width: 100%;
};

.banner_title {
  display: block-inline;
  height: 120px;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;     
  color: white;
  font-size: 110px;
  /*border-bottom: 3px solid green;*/
};

.home_div {
  display: inline-block;
};

.img-responsive {  
  display: block;  
  height: auto;  
  max-width: 100%;  
} 

.circle {
    height: 600px;
    width: 600px;
    border: 3px solid green;
    margin: 150px;
    color: hsl(3, 95%, 50%);
    /*background: url('NPSL-Logo.png');*/
    background-position: center;
     -moz-border-radius: 310px;
     -webkit-border-radius: 310px;
     font-family: 'Montserrat Alternates' bold; 
    };

.find_libraries {
    margin-top: 300px;
    margin-left: 150px;
    font-family: 'Snippet', sans-serif;
    text-align: center;
    color: white;
    font-size: 90px; 
    width: 400px;
    height: 300px;
    background-color: hsla(131, 59%, 35%, 0.95);
    border: 2px solid red;
};

.find_seeds {
    float: right;
    margin-top: 300px;
    margin-right: 150px;
    font-family: 'Snippet', sans-serif;     
    text-align: center;
    color: white;
    font-size: 90px;
    width: 400px;
    height: 300px;
    background-color: hsla(131, 59%, 35%, 0.95);
    border: 2px solid blue;
};

.navbar-header {   
    float: right;
    width: 100%;
    color: green;
};