// Place all the styles related to the libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin-top: 2.5%;
  font-size: 200%;
  color: #444;
}

h3 {
  font-size: 150%;
  color: #444;
}

.library_list {
  font-size: 120%;
  padding: 20px;
  float: left;
  width: 23.5%;
  background-color: #444;
  color: #999;
  margin-left: 10px;
  height: 500px;
  overflow: scroll;

  a {
    color: white;
    
  }
}

.distance {
  font-size: 85%;
}

.search_bar_container {
  margin: 40px auto 35px auto;
  width: 90%;
  height: 50px;
  padding: 0 10% 0 10%;
}

.search_text {
  float: left;
  font-size: 120%;
  margin-right: 10px;
  line-height: 200%;
  color: #444;
}

.search_box {
  float: left;
  width: 70%;
}

.search_near_button {
  float: left;
  margin-left: 10px;
}

.bottom_container {
  margin: 0 auto;
  width: 90%;
  height: 600px;
}

#map-canvas {
  height: 500px;
  width: 75%;
  margin: 0 auto;
  float: left;
}

.add_library {
  margin-left: 5%;
}

.add_lib_textbox {
  width: 300px;
}



