// Place all the styles related to the seeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_bar_container {
  margin: 40px auto 10px auto;
  width: 90%;
  height: 50px;
  padding: 0 10% 0 10%;
}

.search_text {
  float: left;
  font-size: 120%;
  margin-right: 10px;
  line-height: 200%;
  color: #444;
}

.form-control.search_box.seeds {
  width: 67%;
  margin-right: 10px;
}

.search_button {
  float: left;
  width: 13%;
}

.seed_container {
  width: 90%;
  margin: 0 auto;
}

.seedpacket {
  width: 23%;
  height: 400px;
  margin: 50px 5% 50px 5%;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  float: left;
  color: #444;
  background-color: #a98054;

  &:hover {
    background-color: lighten(#a98054, 8%);
  }

  img {
    width: 245px;
    border-radius: 5px;
  }
}

hr {
     color: #444;
     background: #aaa;
     width: 100%; 
     height: 1px;
     margin-bottom: 10px;
}

.common_name {
  font-size: 150%;
}

.scientific_name {
  font-style: italic;
}

.link_home {
  display: block;
  width: 50%;
  height: 10%;
}

.cropped_photo {
  max-width: 100%;
}

.seed_bottom {
  overflow: scroll;
  height: 165px;
}

.show_container {
  margin-left: 5%;
  margin-top: 3%;

  img {
    margin: 2% 0 2% 0;
  }
}

h2 {

}

.seed_sci {
  font-size: 125%;
  margin-top: -0.5%;
}







